In [1]:
import pandas as pd
import numpy as np

In [8]:
a = [i for i in range(1, 7)]
b = [i for i in range(1, 7)]

In [7]:
def p(dado):
    success = [i for i in a if i % 2 == 0]
    return len(success) / len(dado)

In [11]:
def prob_conj(dado1, dado2):
    return p(dado1) * p(dado2)

In [12]:
prob_conj(a, b)

0.25

In [ ]:
def prob_cond(dado1, dado2):
    cond =

In [17]:
a = {i: {j: j % 2 == 0 for j in range(1, 7)} for i in range(1, 7)}

In [19]:
df_a = pd.DataFrame(a)

In [21]:
df_b = df_a.T
df_b

       1     2      3     4      5     6
1  False  True  False  True  False  True
2  False  True  False  True  False  True
3  False  True  False  True  False  True
4  False  True  False  True  False  True
5  False  True  False  True  False  True
6  False  True  False  True  False  True

In [22]:
df_a & df_b

       1      2      3      4      5      6
1  False  False  False  False  False  False
2  False   True  False   True  False   True
3  False  False  False  False  False  False
4  False   True  False   True  False   True
5  False  False  False  False  False  False
6  False   True  False   True  False   True

In [31]:
def red_color(value):
    return 'color: #27FF55' if value else ''

In [32]:
df_a.style.applymap(red_color)

C:\Users\pavel\AppData\Local\Temp\ipykernel_21972\2481681514.py:1: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  df_a.style.applymap(red_color)

In [36]:
(df_a & df_b).style.map(red_color)

In [47]:
(df_a & df_b).melt()['value'].value_counts().reset_index().set_index('value').at[True, 'count']

9